.footer .links {
  text-align: center;
  color: #666;
  line-height: 30px;
}
.footer .copyright {
  text-align: center;
  color: #666;
  line-height: 30px;
}
.footer {
  padding-bottom: 10px;
}
.footer .links .linl {
  padding: 0 10px;
}
